.dojoxTreeMap {
  background-color: #EBEADB;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.dojoxTreeMapLeaf {
  border: 1px solid black;
}

.dojoxTreeMapGroup {
}

.dojoxTreeMapGroupContent {
}

.dojoxTreeMapHeader {
  background-color : #FFFFFF;
  height : 15px;
  border: 1px solid black;
}

.dojoxTreeMapLeaf:hover {
  background-color : white;
  border-width: 1px;
  border-color: white;	
}

.dojoxTreeMapGroup:hover {
  background-color : white;
  border-width: 1px;
  border-color: white;	
}

.dojoxTreeMapSelected {
  background : white;
  border-width: 1px;
  border-color: red;	
}

div.dojoxTreeMapGroup.dojoxTreeMapSelected {
  background : white;
  border-width: 1px;
  border-color: red;	
}
