.dojoxTreeMap {
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.dojoxTreeMapLeaf {
	border: 1px solid black;
}

.dojoxTreeMapGroup {
}

.dojoxTreeMapGroupContent {
}

.dojoxTreeMapHeader {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.dojoxTreeMapLeaf:hover {
	background-color: white;
	border-width: 1px;
	border-color: white;
}

.dojoxTreeMapGroup:hover {
	background-color: white;
	border: 1px solid white;
}

.dojoxTreeMapSelected {
	background: white;
	border-width: 1px;
	border-color: red;
}

div.dojoxTreeMapGroup.dojoxTreeMapSelected {
	background: white;
	border: 1px solid red;
}
