.dojoxTreeMap {
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.dojoxTreeMapLeaf {
	border: 1px solid black;
}

.dojoxTreeMapGroup {
}

.dojoxTreeMapGroupContent {
}

.dojoxTreeMapHeader {
	background-color: white;
	border: 1px solid black;
}

.dojoxTreeMapLeaf:hover {
	border-width: 1px;
	border-color: white;
}

.dojoxTreeMapGroup:hover {
}

.dojoxTreeMapSelected {
	border-width: 1px;
	border-color: red;
}

/* TODO: cause pb in IE <= 8*/
.dojoxTreeMapGroup.dojoxTreeMapSelected:after {
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid red;
}
