.dtreemap {
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.dtreeamap-leaf {
	border: 1px solid black;
}

.dtreeamap-group {
}

.dtreemap-groupcontent {
}

.dtreemap-header {
	background-color: white;
	border: 1px solid black;
}

.dtreeamap-selected {
	border-color: red;
}

.dtreeamap-group.dtreeamap-selected:before {
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid red;
	pointer-events: none;
	z-index: 20;
}
