.d-treemap {
	background-color: #EBEADB;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

.d-treemap-leaf {
	border: 1px solid black;
}

.d-treemap-group {
}

.d-treemap-header {
	background-color: white;
	border: 1px solid black;
}

.d-treemap .d-selected {
	border-color: red;
}

.d-treemap-group.d-selected:before {
	content: '';
	position: absolute;
	left: 1px;
	top: 1px;
	right: 1px;
	bottom: 1px;
	border: 1px solid red;
	pointer-events: none;
	z-index: 20;
}
